docker.enabled = true
process{

  cpus = 2
  memory = '2 GB'

  withName:trimSR{
    cpus = 4
    memory = '8 GB'
    container = 'staphb/trimmomatic:0.39'
  }
  withName:nanoPlot{
    cpus=4
    memory='8 GB'
    container = 'staphb/nanoplot'
  }
  withName:filtLong{
    cpus = 4
    memory = '8 GB'
    container = 'staphb/filtlong:latest'
  }
  withName:uniCyclerAssembly{
    cpus = 8
    memory = '25 GB'
    container = 'staphb/unicycler:latest'
  }
  withName:AssemblyQC{
    cpus = 4
    memory = '8 GB'
    container = 'staphb/quast:latest'
  }
}
